<!doctype html>
<head>

  <title>Lending Club Data</title>
  <script type=text/javascript
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script> 
  <script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- For Debugging :)
<script src="http://jsconsole.com/remote.js?9D925085-5461-4070-8E9A-4155BFAABFDA"></script>
-->
{% block body %}{% endblock %}

