{% extends "layout.html" %}
{% block body %}
<body class='graph'>
<!--  <div id='lend'>
    <script type=text/javascript src="{{ url_for('static', filename='lendReturn.js') }}"></script>
  </div>
</body>

  <div class='idiv'>
    <h2>Actual versus Expected Annualized Returns by Credit Grade</h2>
    <br>
    <iframe src="/graph3" width="783px" height="415px" scrolling="no" style="border:0px"></iframe>
    <br>
    <a href="/graph3">See example in its own tab or window</a> 
    <br>
    <p>As noted above the combination of defaults and defaults and early payoffs have an adverse affect on the amount of return investors receive on each loan. This chart takes the amount of interest which will be returned and annualizes it. So if you invest with $1000 Lending club over 3 years and receive your principle plus $300 back you would have a return of 30% of an annualized return of 8.75%.
    <br>
  </div> -->
{% endblock %}
